/* 
Made for Bunkers & Badasses Manual Theming

Add the following to the frontmatter of Obsidian to enable this snippet on select pages.

cssclass: bunkers

If using Wonderlands (which contains Wonderlands Characters and Edits), also add wonderlands

cssclass: bunkers, wonderlands

The text must be lowercase.

by Sigrunixia / LittleMaelstrom
*/

/* Callout Tina - Tinas Big Paragraphs */
.bunkers .callout[data-callout="tina"] {
  --callout-color: 255, 182, 243;
  --callout-content-padding: 0;
  /* Callout Icon Becomes a Crown. Pick icon from choice here: https://lucide.dev Edit, and then copy SVG into the --callout-icon: field below */
  --callout-icon: <svg style="height: 24px; width: 24px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" ><g class="" style="" transform="translate(0,0)" ><path d="M188.28 59.47c-19.086 0-34.56 15.468-34.56 34.56 0 16.077 10.983 29.57 25.843 33.44l-35.344 81.936c15.877 2.885 27.905 16.784 27.905 33.5 0 18.806-15.23 34.063-34.03 34.063-18.802 0-34.032-15.258-34.032-34.064 0-13.37 7.703-24.924 18.906-30.5l-50.814-79.22c8.007-5.82 13.22-15.24 13.22-25.905 0-17.693-14.314-32.06-32-32.06-17.688 0-32.032 14.37-32.032 32.06 0 17.693 14.344 32.032 32.03 32.032.734 0 1.468-.014 2.188-.062l41.907 227h316l41.936-227c.72.048 1.455.063 2.188.063 17.686 0 32.03-14.34 32.03-32.032 0-17.693-14.344-32.06-32.03-32.06-17.687 0-32.03 14.37-32.03 32.06-.002 10.723 5.286 20.187 13.373 26l-50.656 79.532c10.778 5.72 18.126 17.04 18.126 30.094 0 18.806-15.23 34.063-34.03 34.063s-34.032-15.258-34.032-34.064c0-17.11 12.602-31.267 29.03-33.687l-34.75-81.532c15.275-3.577 26.657-17.287 26.657-33.657 0-19.094-15.474-34.56-34.56-34.56-19.09 0-34.564 15.468-34.564 34.56 0 14.798 9.308 27.415 22.375 32.345L268 202.345c14.62 4.52 25.25 18.112 25.25 34.218 0 19.796-16.053 35.843-35.844 35.843-19.79 0-35.812-16.047-35.812-35.844 0-15.158 9.403-28.102 22.687-33.343l-44.124-76.72c13.234-4.845 22.688-17.552 22.688-32.47 0-19.094-15.475-34.56-34.563-34.56zM97.438 384.936c-23.978 3.763-22.86 39.844 4.188 39.844h6.656l.064.345h294.28l.063-.344h7.625c26.034 0 27.88-35.928 4.313-39.842H97.437z" fill="#E1B6F3" fill-opacity="1" ></path></g></svg>;
  --callout-title-color: hotpink;
  border-style: groove;
  border-width: 3px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 8px;
  padding: 8px;
  padding-top: 1px;
}

.bunkers .callout[data-callout="tina"] .callout-content {
  background-color: rgba(var(--callout-color)), 1;
  border-top-style: none;
}

.bunkers .callout[data-callout="tina"] .callout-content p {
  color: hotpink;
  font-style: normal;
  font-size: 1rem;
  text-align: justify;
}

/* Change Highlighted ==Markdown Text== to reflect Tina's colors*/
.bunkers .markdown-preview-section mark,
.cm-s-obsidian span.cm-highlight {
  background-color: rgb(247, 170, 211);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Render Blockquotes better in reader */
.markdown-rendered blockquote {
  padding: 5px 5px 5px 10px;
}

/* Big Callouts Section for GMing or Playing */
/* Sourcebook - GM Rules */
.bunkers .callout[data-callout="sourcebook"] {
  border-style: groove;
  border-width: 3px;
  --callout-color: 251, 163, 0;
  --callout-content-padding: 4px;
  --callout-icon: <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" ><path d="M8 3H2v15h7c1.7 0 3 1.3 3 3V7c0-2.2-1.8-4-4-4Z" ></path><path d="m16 12 2 2 4-4" ></path><path d="M22 6V3h-6c-2.2 0-4 1.8-4 4v14c0-1.7 1.3-3 3-3h7v-2.3" ></path></svg>;
  margin: 2px;
  padding: 4px;
  padding-top: 4px;
}

.bunkers .theme-dark .callout[data-callout="sourcebook"] .callout-title {
  background-color: rgba(var(--callout-color)), 1;
  color: goldenrod;
  padding: 4px;
}

.bunkers .theme-light .callout[data-callout="sourcebook"] .callout-title {
  background-color: rgba(var(--callout-color)), 1;
  color: darkorange;
  padding: 4px;
}

.bunkers .callout[data-callout="sourcebook"] .callout-content {
  background-color: rgba(var(--callout-color)), 1;
  border-top-style: none;
  padding: 4px;
}

.bunkers .callout[data-callout="sourcebook"] .callout-content p {
  font-style: normal;
  text-align: left;
}

/* Skill - Choose from or use of skills */
.bunkers .callout[data-callout="skill"] {
  border-style: groove;
  border-width: 3px;
  --callout-color: 255, 196, 19;
  --callout-content-padding: 0;
  --callout-icon: <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" ><polyline points="14.5 17.5 3 6 3 3 6 3 17.5 14.5" ></polyline><line x1="13" y1="19" x2="19" y2="13" ></line><line x1="16" y1="16" x2="20" y2="20" ></line><line x1="19" y1="21" x2="21" y2="19" ></line><polyline points="14.5 6.5 18 3 21 3 21 6 17.5 9.5" ></polyline><line x1="5" y1="14" x2="9" y2="18" ></line><line x1="7" y1="17" x2="4" y2="20" ></line><line x1="3" y1="19" x2="5" y2="21" ></line></svg>;
  margin: 1px;
  padding: 1px;
  padding-top: 1px;
}

.bunkers .theme-dark .callout[data-callout="skill"] .callout-title {
  background-color: rgba(var(--callout-color)), 1;
  color: goldenrod;
  padding: 1px;
}

.bunkers .theme-light .callout[data-callout="skill"] .callout-title {
  background-color: rgba(var(--callout-color)), 1;
  color: darkorange;
  padding: 1px;
}

.bunkers .callout[data-callout="skill"] .callout-content {
  background-color: rgba(var(--callout-color)), 1;
  border-top-style: none;
  padding: 0;
}

.bunkers .callout[data-callout="skill"] .callout-content p {
  font-style: normal;
  line-break: strict;
  text-align: left;
}

/* Excerpt - Passage from a Text or Tome */
.bunkers .callout[data-callout="excerpt"] {
  border-style: hidden;
  border-width: 1px;
  --callout-color: 53, 120, 175;
  --callout-content-padding: 0;
  --callout-icon: <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" ><path d="M12 17.8 5.8 21 7 14.1 2 9.3l7-1L12 2" ></path></svg>;
  margin: 1px;
  padding: 1px;
  padding-top: 1px;
}

.bunkers .theme-dark .callout[data-callout="excerpt"] .callout-title {
  color: deepskyblue;
  display: none;
  padding: 1px;
}

.bunkers .theme-light .callout[data-callout="excerpt"] .callout-title {
  color: navy;
  display: none;
  padding: 1px;
}

.bunkers .callout[data-callout="excerpt"] .callout-content {
  background-color: rgba(var(--callout-color)), 1;
  padding: 0;
}

.bunkers .callout[data-callout="excerpt"] .callout-content p {
  text-align: center;
  font-style: italic;
  font-size: calc(0.9*var(--font-text-size));
}

/* Chat - NPC Chatter */
.bunkers .callout[data-callout="chat"] {
  border-style: groove;
  border-width: 3px;
  --callout-color: 61, 126, 123;
  --callout-content-padding: 0;
  --callout-icon: <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" ><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z" ></path></svg>;
  margin: 1px;
  padding: 1px;
  padding-top: 1px;
}

.bunkers .theme-dark .callout[data-callout="chat"] .callout-title {
  color: lightseagreen;
  padding: 1px;
}

.bunkers .theme-light .callout[data-callout="chat"] .callout-title {
  color: seagreen;
  padding: 1px;
}

.bunkers .callout[data-callout="chat"] .callout-content {
  background-color: rgba(var(--callout-color)), 1;
  padding: 4px;
}

.bunkers .callout[data-callout="chat"] .callout-content p {
  text-align: left;
  font-style: normal;
  font-size: calc(0.9*var(--font-text-size));
}