/* 
Pathfinder TTRPG Statblock Layout CSS

Layout by Fate and Sigrunixia
Initial CSS by Sigrunixia 

V.03

*/

/* Pathfinder Glyphs Only and any associated classes to call those Glyphs*/

@font-face {
	font-family: "Pathfinder";
	src: url("data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg8xOUgAAAC8AAAAYGNtYXBWj1fJAAABHAAAAHRnYXNwAAAAEAAAAZAAAAAIZ2x5ZlORXq8AAAGYAAACYGhlYWQnahodAAAD+AAAADZoaGVhDDUIawAABDAAAAAkaG10eCWQAIcAAARUAAAAKGxvY2ECvAH8AAAEfAAAABZtYXhwAA8APwAABJQAAAAgbmFtZQQfBa8AAAS0AAAC63Bvc3QAAwAAAAAHoAAAACAAAwTLAZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABAAAAIAAAAAAAAAAAAAAAAABAAAArUwPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAWAAAABIAEAADAAIAAQAgADArMis7Kz0rU//9//8AAAAAACAAMCsyKzorPStT//3//wAB/+P/1NTT1MzUy9S2AAMAAQAAAAAAAAAAAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAgAoACIEHwNXADcAPAAAASYnJicmJyYHBgcGBwYHBgc2NzY3Njc2NzYXFhcWFxYXFgcGBwYHBgcGBwYnFhcWNzY3Njc2NzYBBSc3AQQdFzs8VFNlZWpLQUEzMyQkERUdHSMkKSouVVFRQ0QwMBISEBEsK0RDVRwcGxs/REVFalRUNjYVFPyNAeltOP5MAkdHOTklJQ0ODwsYGCIiKyovGhYXEhINDQcMCwsdHi4uOTo3Ny0uISAMBAECAQ4DAwoPKSg5OEVE/opnldf++wAAAAMAIP/BBmADvwAFAAkADwAACQEHCQEXAQcXNyUBBxcHFwQa/gH2AQj++Pb+vLe3twTS/kDZ6OjZAcAB//f++P749wK2t7e3CAHA2Ojo2QAAAgAC/8AD/gPAAAUACQAACQEHCQEXAQcXNwP+/gD3AQn+9/f+u7e3twHAAgD3/vf+9/cCt7e3twAEAC3/wAhzA8AABQALAA8AFQAACQEHCQEXCQEHFwcXAQcXNyUBBxcHFwQp/gD3AQn+9/cGSv6Yr7u7r/nZt7e3BNz+P9rp6doBwAIA9/73/vf3AgoBaK66u64CFre3twgBwdno6dkAAAMAEP/ABBADwAAEAAkADwAACQQBNxcHJwEnNyc3AQIU/fwB/QID/gT+uG1tbW0BN3H79XwBZwPA/fr+BgIDAf3+EG1tbW3+hHH79nz+mQAAAQAAAAEZmgtZ1jpfDzz1AAsEAAAAAADf694DAAAAAN/r3gMAAP/ACHMDwAAAAAgAAgAAAAAAAAABAAADwP/AAAAIoAAAAAAIcwABAAAAAAAAAAAAAAAAAAAACgQAAAAAAAAAAAAAAAIAAAAEAAAABFAAKAaAACAEAAACCKAALQQgABAAAAAAAAoAFAAeACgAkAC4ANQBCAEwAAAAAQAAAAoAPQAEAAAAAAACAAAAAAAAAAAAAAAAAAAAAAAAABIA3gABAAAAAAABAAoAAAABAAAAAAACAAcB2gABAAAAAAADAAoBngABAAAAAAAEAAoB7wABAAAAAAAFAAsBfQABAAAAAAAGAAoBvAABAAAAAAAKADYA2wABAAAAAAANABcAHgABAAAAAAAOACgAYwADAAEECQABABQACgADAAEECQACAA4B4QADAAEECQADABQBqAADAAEECQAEABQB+QADAAEECQAFABYBiAADAAEECQAGABQBxgADAAEECQAKAGwBEQADAAEECQANAC4ANQADAAEECQAOAFAAi1BhdGhmaW5kZXIAUABhAHQAaABmAGkAbgBkAGUAclBhaXpvIENvbW11bml0eSBMaWNlbnNlAFAAYQBpAHoAbwAgAEMAbwBtAG0AdQBuAGkAdAB5ACAATABpAGMAZQBuAHMAZWh0dHBzOi8vcGFpem8uY29tL2NvbW11bml0eS9jb21tdW5pdHl1c2UAaAB0AHQAcABzADoALwAvAHAAYQBpAHoAbwAuAGMAbwBtAC8AYwBvAG0AbQB1AG4AaQB0AHkALwBjAG8AbQBtAHUAbgBpAHQAeQB1AHMAZVBhdGhmaW5kZXIgMmUgQWN0aW9uIEdseXBocwpGb250IGdlbmVyYXRlZCBieSBJY29Nb29uLgBQAGEAdABoAGYAaQBuAGQAZQByACAAMgBlACAAQQBjAHQAaQBvAG4AIABHAGwAeQBwAGgAcwAKAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4ALlZlcnNpb24gMS4xAFYAZQByAHMAaQBvAG4AIAAxAC4AMVBhdGhmaW5kZXIAUABhAHQAaABmAGkAbgBkAGUAclBhdGhmaW5kZXIAUABhAHQAaABmAGkAbgBkAGUAclJlZ3VsYXIAUgBlAGcAdQBsAGEAclBhdGhmaW5kZXIAUABhAHQAaABmAGkAbgBkAGUAcgAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==")
		format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="glyph-"],
[class*=" glyph-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "Pathfinder" !important;
	speak-as: auto;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.glyph-1action:before {
	content: "\2b3b";
}

.glyph-2actions:before {
	content: "\2b3a";
}

.glyph-3actions:before {
	content: "\2b3d";
}

.glyph-delay:before {
	content: "\2b53";
}

/* 
Alternatively we can also use Free instead of Delay. 
Comment out the one you hate 
.glyph-free:before {
	content: "\2b53";
}
*/

.glyph-reaction:before {
	content: "\2b32";
}

/* 
Our Base for Statblocks Variables
*/
.statblock.test2e {
	/* Design Colors */
	--statblock-background-color: #f6f4f2;
	--statblock-border-color: rgb(51, 51, 51);
	--statblock-bar-border-color: rgb(51, 51, 51);
	--statblock-rule-color: rgb(51, 51, 51);
	--statblock-bar-color: rgb(51, 51, 51);
	--statblock-image-border-color: var(--statblock-primary-color);
	--statblock-section-heading-border-color: transparent;

	/* Design Sizes */
	--statblock-border-size: 1px;
	--statblock-bar-border-size: 1px;
	--statblock-section-heading-border-size: 1px;
	--statblock-image-width: 75px;
	--statblock-image-height: 75px;
	--statblock-image-border-size: 2px;

	/* Design Spiffs */
	--statblock-border-size: 1px;
	--statblock-box-shadow-x-offset: 0;
	--statblock-box-shadow-y-offset: 0;
	--statblock-box-shadow-blur: 1.5em;

	/* Font Colors */
	--statblock-primary-color: rgb(51, 51, 51);
	--statblock-alt-font-color: rgb(246, 244, 242);
	--statblock-font-color: rgb(51, 51, 51);
	--statblock-heading-font-color: rgb(51, 51, 51);
	--statblock-subheading-font-color: rgb(255, 215, 0);
	--statblock-section-heading-font-color: rgb(51, 51, 51);
	--statblock-property-font-color: rgb(51, 51, 51);
	--statblock-property-name-font-color: rgb(51, 51, 51);

	/* Font Families */
	--statblock-content-font: system-ui, "Pathfinder", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	--statblock-heading-font: system-ui, "Pathfinder", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	--statblock-subheading-font: system-ui, "Pathfinder", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	--statblock-other-font: system-ui, "Pathfinder", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	--statblock-heading-font-variant: small-caps;
	--statblock-section-heading-font-variant: small-caps;

	/* Font Styles */
	--statblock-font-weight: 400;
	--statblock-heading-font-weight: 700;
	--statblock-property-name-font-weight: Bold;
	--statblock-section-heading-font-weight: 400;
	--statblock-spells-font-style: italic;
	--statblock-subheading-font-style: normal;
	--statblock-subheading-font-weight: 700;
	--statblock-table-header-font-weight: bold;
	--statblock-traits-font-weight: bold;
	--statblock-traits-font-style: italic;
	--statblock-hyperlink-font-weight: Bold;

	/* Font Sizes */
	--statblock-content-font-size: 13px;
	--statblock-heading-font-size: 1.35em;
	--statblock-heading-line-height: 1;
	--statblock-subheading-line-height: 1;
	--statblock-property-line-height: 1.33em;
	--statblock-section-heading-font-size: 1.33em;
	--statblock-saves-line-height: 1.33em;
	--statblock-subheading-font-size: 0.75em;

	/* Custom Subheading Variables for Colored Trait Boxes */
	--statblock-subheading-box-sizing: border-box;
	--statblock-subheading-font-color: rgb(255, 215, 0);
	--statblock-subheading-letter-spacing: 0.01em;
	--statblock-subheading-margins: 1px;
	--statblock-subheading-min-width: 4em;
	--statblock-subheading-padding: 0.4em 1.1em 0.25em;
	--statblock-subheading-text-align: center;
	--statblock-subheading-text-transform: uppercase;

	/* H3, Redeclared. */
	--statblock-h3-variant: small-caps;
	--statblock-h3-letter-spacing: 1;
	--statblock-h3-line-height: 1.33em;
	--statblock-h3-size: 13px;
	--statblock-h3-color: rgb(51, 51, 51);
	--statblock-h3-weight: 400;
	--statblock-h3-font-style: normal;
	--statblock-h3-font-family: system-ui, "Pathfinder", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;

	/* Hyperlinks need more help; cant see them. */
	--statblock-hyperlink-color: rgb(61, 102, 142);
	--statblock-hyperlink-text-decoration: underline;
	--statblock-hyperlink-text-underline-position: under;

	/* Column Width Control because... stuff */
	--statblock-column-width: 400px;
	--statblock-column2-width: 1000px;
}

/* 

General Fixes to make Statblock Look Uniform on MOST Themes.

Theme Specific Fixes at the End. I cannot ccount for everything in a statblock at the getgo.

*/

/* Prevents an empty section header from generating a border */
.h3 .statblock.test2e h3.section-header {
	border: none;
}

/* Font Fixes for H3 in Pf2e */
.statblock.test2e h3,
.markdown-rendered h3,
.HyperMD-header-3,
.inline-title[data-level="3"],
.HyperMD-list-line .cm-header-3 {
	font-variant: var(--statblock-h3-variant);
	letter-spacing: var(--statblock-h3-letter-spacing);
	line-height: var(--statblock-h3-line-height);
	font-size: var(--statblock-h3-size);
	color: var(--statblock-h3-color);
	font-weight: var(--statblock-h3-weight);
	font-style: var(--statblock-h3-font-style);
	font-family: var(--statblock-h3-font-family);
}

/* Help the Hyperlinks! */
.statblock.test2e a,
a:-webkit-any-link,
a.internal-link,
a {
	color: var(--statblock-hyperlink-color);
	font-style: var(--statblock-hyperlink-font-weight);
	text-decoration: var(--statblock-hyperlink-text-decoration);
	text-underline-position: var(--statblock-hyperlink-text-underline-position);
}

/* Bai Bai Big Top Bar, Hello Tiny Top Bar */
.statblock.test2e .bar {
	height: 1px;
	background: var(--statblock-bar-color);
	border: var(--statblock-bar-border-size) solid
		var(--statblock-bar-border-color);
	z-index: 1;
	width: fit-content;
}

/* Fix the TRAITS! BIGGGGG section */
.statblock.test2e .statblock-item-inline {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: baseline;
	justify-content: flex-start;
}

.statblock.test2e .rare_01 {
	background-color: rgb(54, 69, 79);
	/* common */
}

.statblock.test2e .rare_02 {
	background-color: rgb(143, 85, 66);
	/* uncommon */
}

.statblock.test2e .rare_03 {
	background-color: rgb(11, 37, 96);
	/* rare */
}

.statblock.test2e .rare_04 {
	background-color: rgb(77, 27, 106);
	/* unique */
}

.statblock.test2e .alignment {
	background-color: rgb(89, 98, 143);
}

.statblock.test2e .size {
	background-color: rgb(75, 122, 92);
}

.statblock.test2e .trait_01,
.statblock.test2e .trait_02,
.statblock.test2e .trait_03,
.statblock.test2e .trait_04,
.statblock.test2e .trait_05,
.statblock.test2e .trait_06,
.statblock.test2e .trait_07 {
	background-color: rgb(86, 12, 6);
}

.statblock.test2e .rare_01,
.statblock.test2e .rare_02,
.statblock.test2e .rare_03,
.statblock.test2e .rare_04,
.statblock.test2e .alignment,
.statblock.test2e .size,
.statblock.test2e .trait_01,
.statblock.test2e .trait_02,
.statblock.test2e .trait_03,
.statblock.test2e .trait_04,
.statblock.test2e .trait_05,
.statblock.test2e .trait_06,
.statblock.test2e .trait_07 {
	color: rgb(246, 244, 242);
	font-size: var(--statblock-subheading-font-size);
	font-style: var(--statblock-subheading-font-style);
	font-weight: var(--statblock-subheading-font-weight);
	letter-spacing: var(--statblock-subheading-letter-spacing);
	min-width: var(--statblock-subheading-min-width);
	margin: var(--statblock-subheading-margins);
	padding: var(--statblock-subheading-padding);
	text-align: var(--statblock-subheading-text-align);
	text-transform: var(--statblock-subheading-text-transform);
}

/* 
Now for Specific Fixes! 
*/

/* Corrects the Name property to be the right attributes */
.statblock.test2e .name {
	color: var(--statblock-heading-font-color);
	font-size: var(--statblock-heading-font-size);
	font-weight: var(--statblock-heading-font-weight);
	line-height: var(--statblock-heading-line-height);
	text-transform: uppercase;
	text-align: left;
}

/* Corrects the Level property to Be Right Attributes and spacing */
.statblock.test2e .level {
	color: var(--statblock-heading-font-color);
	font-size: var(--statblock-heading-font-size);
	font-weight: var(--statblock-heading-font-weight);
	line-height: var(--statblock-heading-line-height);
	text-transform: uppercase;
	text-align: right;
	position: relative;
	left: 68%;
}

/* prevents an empty section header from generating a border */
.statblock.test2e h3.section-header {
	border: none;
	font-weight: var(--statblock-property-name-font-weight);
	line-height: var(--statblock-property-line-height);
}

/* We don't like your taper */

.statblock.test2e .tapered-rule {
	width: 100%;
	margin: 0.5em 0;
	height: 2px;
	/* Make 1px to just create some distance */
	background: var(--statblock-rule-color);
}

/* 
Various Theme Fixes
*/

/* ITS Theme */

/* ITS - Fixes Background Colors on some properties */
body .statblock-item-container:nth-child(odd) :is(.line, .property) {
	background: transparent;
}

/* ITS - Removes Underline from Section Headers */
.statblock.test2e :is(h3, .HyperMD-header-3)::after {
	width: 0;
}

.statblock.test2e
	:is(.dnd, .wotc, .wotc-beyond):not(.illusion):not(.h-line):not(.hcl):not(
		.sphd-und-3
	)
	:is(.markdown-preview-view, .markdown-source-view):not(.h-line)
	:is(h3, .HyperMD-header-3):after {
	content: "";
	display: block;
	width: 70%;
	height: 4px;
	background: linear-gradient(to right, var(--h3-c), transparent);
	left: 0;
}

/* Shimmering Focus, There is No Pink on this Statblock! */
.statblock.test2e b,
strong,
.cm-strong {
	font-weight: var(--statblock-property-name-font-weight);
	color: var(--statblock-primary-color);
}

.statblock.test2e i,
em,
.cm-em {
	font-style: italic;
	color: var(--statblock-primary-color);
}
